<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>url_test1.py</string>
		</array>
		<array>
			<string>url_test2.py</string>
		</array>
		<array>
			<string>url_test3.py</string>
		</array>
		<array>
			<string>url_test4.py</string>
		</array>
		<array>
			<string>url_test5.py</string>
		</array>
		<array>
			<string>spider.py</string>
		</array>
		<array>
			<string>re_test.py</string>
		</array>
		<array>
			<string>re_test2.py</string>
		</array>
		<array>
			<string>re_test3.py</string>
		</array>
		<array>
			<string>spider_qiushi.py</string>
		</array>
		<array>
			<string>tt.py</string>
		</array>
		<array>
			<string>spider_tieba.py</string>
		</array>
		<array>
			<string>sign_king.py</string>
		</array>
		<array>
			<string>cookie_test.py</string>
		</array>
		<array>
			<string>localCookiesLWP.txt</string>
		</array>
		<array>
			<string>localCookiesMozilla.txt</string>
		</array>
		<array>
			<string>spide_sina.py</string>
		</array>
		<array>
			<string>hdu.html</string>
		</array>
		<array>
			<string>douban.htm</string>
		</array>
		<array>
			<string>soup_test.py</string>
		</array>
		<array>
			<string>xx.htm</string>
		</array>
		<array>
			<string>mutitask.py</string>
		</array>
	</array>
</dict>
</plist>
